aside {
  width: 100%;
  color: $text-light-faded;
  grid-row-start: span 2;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  gap: 1em;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1em 2em;
  border-radius: $border-radius-s;
  transition: all 0.3s ease-in-out;

  &.active,
  &:hover {
    background-color: $color-secondary;
  }
}
