aside {
  width: 100%;
  color: $text-light-faded;
  grid-row-start: span 2;
  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  gap: 5px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.8em 2em;
  border-radius: $border-radius-s;
  transition: all 0.3s ease-in-out;

  &.active,
  &:hover {
    background-color: $color-secondary;
  }
}

.sidebar-bottom {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1em;

  botton {
    color: $color-primary;
  }
}
