aside {
  width: 200px;
  color: $text-light-faded;
  grid-row-start: span 2;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 1em;
}

.menu-items-wrapper {
  position: relative;
}

.selector-wrapper {
  position: absolute;
  top: 1em;
  left: 1em;
  width: calc(100% - 2em);
  padding: 1em;
  display: grid;
  transition: all 1s ease-in-out;
}

.selector {
  background-color: rgba($color-secondary, 0.4);
  pointer-events: none;
  color: $color-primary;
  height: 50px;
  width: 100%;
  border-radius: $border-radius-s;
  position: absolute;
}
