// Color
$color-primary: #e8b225;
$color-secondary: #2a2a2a;
$color-background-dark: #111111;
$color-background-light: #eeeeee;
$color-tag: #f3ecdc;
$color-gray: #eeeeee;
$color-white: #ffffff;

// Text
$text-light: whitesmoke;
$text-dark: rgb(19, 19, 19);
$text-secondary: #4b4b4b;
$text-light-faded: #959595;

// Indents
$padding-std: 1em;
$padding-min: 0.5em;
$border-radius-l: 30px;
$border-radius-l-inner: 25px;
$border-radius-m: 20px;
$border-radius-m-inner: 15px;
$border-radius-s: 10px;
$border-radius-s-inner: 6px;
