* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

html,
body {
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

.grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 70px 1fr;
}

hr {
  color: #e8b225;
  width: 100%;
  height: 0;
  margin: 0;
  border: 0;
  border-top: 1px solid #e8b225;
}

a {
  all: unset;
  cursor: pointer;
}
a.active {
  color: #e8b225;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.4em;
}

h3 {
  margin: 0.6em 0 0.4em 0;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: #111111;
}

.App {
  position: relative;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  background-color: #111111;
}

.right-col {
  width: 100%;
}

main {
  width: 100%;
  color: rgb(19, 19, 19);
  padding: 1.5em;
  background: rgb(238, 238, 238);
  background: linear-gradient(0deg, rgb(238, 238, 238) 0%, rgb(255, 255, 255) 100%);
  height: calc(100vh - 70px);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 30px 0 0 0;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
          mask-image: -webkit-radial-gradient(white, black);
}

button {
  cursor: pointer;
}

.btn-primary {
  background-color: #e8b225;
  border: 0;
  color: whitesmoke;
  padding: 0.5em 1em;
  width: 100%;
  border-radius: 20px;
}
.btn-primary.large {
  font-size: 1.2rem;
}

.btn-back {
  background-color: #eeeeee;
  border: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0;
}
.btn-back svg {
  transform: translateX(10px);
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 0.5em;
  border-radius: 6px;
  border: 1px solid black;
  background-color: #111111;
  color: whitesmoke;
  transition: 0.5s;
  outline: none;
}
input[type=text].large,
input[type=password].large {
  font-size: 1.2em;
}

input[type=text]:focus,
input[type=password]:focus {
  border: 1px solid #555;
}

.login-wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111111;
}

.login {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  width: 300px;
  background-color: #2a2a2a;
  color: whitesmoke;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}
.login form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-bottom: 1em;
}
.login label {
  font-size: 0.9em;
}
.login .form-row {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.login h1 {
  margin: 0 auto 1em auto;
  font-weight: 200;
  font-size: 1.8em;
}

aside {
  width: 100%;
  color: #959595;
  grid-row-start: span 2;
  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  gap: 5px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.8em 2em;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.menu-item.active, .menu-item:hover {
  background-color: #2a2a2a;
}

.sidebar-bottom {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1em;
}
.sidebar-bottom botton {
  color: #e8b225;
}

header {
  height: 70px;
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center;
}

.dish-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #eeeeee;
  height: 220px;
  background-color: #ffffff;
  padding-bottom: 1em;
}
.dish-card img {
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1em;
}
.dish-card strong {
  flex-grow: 1;
  padding: 0 1em;
}

.header-content_title-area {
  display: flex;
  flex-direction: row;
  gap: 1em;
}/*# sourceMappingURL=main.css.map */